@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all modern browsers */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Edge */
  width: 0 !important;
  height: 0 !important;
}